<body class="vr-homepage">
	<!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
	<div id="homewrapper" class="ym-wrapper">
		<!-- formulaire pour l'envoi de mail pour la reinitialisation -->
		<div id="formwrapper" *ngIf="mailForm" style="width: 400px;">
			<form (ngSubmit)="onSubmitResetMail(formEmail)" #formEmail="ngForm">
				<div class="inputwrapper">
					<i class="fas fa-key gradient"></i>
					<input type="text" id="pass" name="mail" ngModel required placeholder="ENTREZ VOTRE EMAIL"
						(input)="validMail(formEmail)" (focus)="firstVisit()">
				</div>
				<p style="font-size: 0.75em; margin: 7.5%;" [ngStyle]="{ color: getColorMail() }"
					*ngIf="msgMail.msg != null">{{ msgMail.msg|uppercase }}</p>
				<div class="inputwrapper-alt">
					<button id="connex" type="submit"
						[ngStyle]="{ opacity: getOpacityOfSubmitButtonMail(formEmail.valid, formEmail) }"
						[disabled]="formEmail.invalid || !validMail(formEmail)">ENVOYER MAIL</button>
				</div>
			</form>
			<a (click)="goToLogin()">Se connecter</a>
		</div>

		<!-- formulaire pour la reinitialisation du mdp après validation par mail -->
		<div id="formwrapper" *ngIf="!mailForm" style="width: 420px;">
			<form (ngSubmit)="onSubmitResetMdp(formMdp)" #formMdp="ngForm">
				<div class="inputwrapper">
					<i class="fas fa-key gradient"></i>
					<input type="text" id="pass" name="mdp" ngModel required placeholder="ENTREZ VOTRE NOUVEAU MOT DE PASSE">
				</div>
				<div class="inputwrapper">
					<i class="fas fa-key gradient"></i>
					<input type="text" id="pass" name="confMdp" ngModel required placeholder="CONFIRMEZ LE MOT DE PASSE"
						(input)="validMdp(formMdp)" (focus)="firstVisit()">
				</div>
				
				<p style="font-size: 0.75em; margin: 7.5%;" [ngStyle]="{ color: getColorMdp() }"
					*ngIf="msgMdp.msg != null">{{ msgMdp.msg|uppercase }}</p>
				<div class="inputwrapper-alt">
					<button id="connex" type="submit"
						[ngStyle]="{ opacity: getOpacityOfSubmitButtonMdp(formMdp.valid, formMdp) }"
						[disabled]="formMdp.invalid || !validMdp(formMdp)">VALIDER LA MODIFICATION</button>
				</div>
			</form>
		</div>
	</div>
	<a id="credits" href="" class="">Tous droits réservés</a>
	<!-- degrade. ne pas supprimer svp -->
	<svg style="width:0;height:0;position:absolute;" aria-hidden="true" focusable="false">
		<linearGradient id="my-cool-gradient" x2="1" y2="1">
			<stop offset="0%" stop-color="#fc7f45" />
			<stop offset="100%" stop-color="#c45b6c" />
		</linearGradient>
	</svg>
</body>