<section class="vr-dashboard grey-text darken-2">
	<main>
		<app-nav style="position: absolute;"></app-nav>
		<div id="contenu" class="container">
			<div class="row">
				<div class="col s12 offset-s0 m8 offset-m2">
					<!-- 
						----------------------------------LISTE DES CategorieS----------------------------------------
					 	-->
					<div class="row" *ngIf="action == 1">
						<div class="col s12">
							<div id="infosite" class="row">
								<span class="col s12 m8 pull-m2 pull-s0 red-text text-darken-2 center-align">LISTE DES
									CATEGORIES</span>
							</div>
							<div class="row">
								<div class="col s12 m8 push-m2 pull-m2">
									<table class="centered grey-text darken-2">
										<!-- <thead>
											<tr>
												<th>Libelle de la catégorie</th>
												<th>MODIFIER</th>
												<th>SUPPRIMER</th>
												<th>DETAILS</th>
											</tr>
										</thead> -->
										<tbody>
											<tr *ngFor="let _category of categories">
												<td>{{ _category.libelle }}</td>
												<td (click)="viewPart(2, _category)"><span class="new badge" data-badge-caption="modifier"></span></td>
												<td (click)="deleteCategory(_category)"><span class="new badge red" data-badge-caption="supprimer"></span></td>
												<td (click)="goToListOfBiens()"><span class="new badge blue" data-badge-caption="détails"></span></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<!-- 
						----------------------------------MODIFIER UNE Categorie--------------------------------------
					 	-->
					<div class="row card-panel" *ngIf="action == 2 && categoryMod != null">
						<div class="col s12">
							<div id="infosite" class="row">
								<span class="col s12 m8 pull-m2 pull-s0 red-text text-darken-2 center-align">MODIFIER LA
									CATEGORIE</span>
							</div>
						</div>
						<form class="col s12" (ngSubmit)="onSubmitModCategory(formModCategory)" #formModCategory="ngForm">
							<div class="row">
								<div class="input-field col s12">
									<span class="grey-text darken-2">Libelle</span>
									<input placeholder="{{categoryMod.nom}}" id="libelle" type="text" class="validate"
										name="libelle" [(ngModel)]="categoryMod.libelle">
								</div>
							</div>
							<div class="row">
								<button style="margin: 5px;"
									class="col s12 m6 push-m6 btn waves-effect waves-light red lighten-2" type="submit"
									name="action">Valider la modifcation
									<i class="material-icons right">send</i>
								</button>
							</div>
						</form>
					</div>
					<!-- 
						------------------------------------INSERER UNE NOUVELLE Categorie-----------------------------------
						 -->
					<div class="row card-panel" *ngIf="action == 3">
						<div class="col s12">
							<div id="infosite" class="row">
								<span class="col s12 m8 pull-m2 pull-s0 red-text text-darken-2 center-align">INSERER UNE
									NOUVELLE CATEGORIE</span>
							</div>
						</div>
						<form class="col s12" (ngSubmit)="onSubmitCategory(formCategory)" #formCategory="ngForm">
							<div class="row">
								<div class="input-field col s12">
									<input id="libelle" type="text" class="validate" name="libelle" ngModel>
									<label for="libelle">Libelle de la categorie</label>
								</div>
							</div>
							<div class="row">
								<button style="margin: 5px;"
									class="col s12 m6 push-m6 btn waves-effect waves-light red lighten-2" type="submit"
									name="action">Valider l'insertion
									<i class="material-icons right">send</i>
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</main>
	<!--[if IE]>
		 <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	  <![endif]-->
	<!-- degrade. ne pas supprimer svp -->
	<svg style="width:0;height:0;position:absolute;" aria-hidden="true" focusable="false">
		<linearGradient id="my-cool-gradient" x2="1" y2="1">
			<stop offset="0%" stop-color="#fc7f45" />
			<stop offset="100%" stop-color="#c45b6c" />
		</linearGradient>
	</svg>
</section>

<div class="fixed-action-btn">
	<a class="btn-floating btn-large red lighten-1" 
		(click)="viewPart(3)"
		*ngIf="action == 1">
	  <i class="large material-icons">add</i>
	</a>

	<a class="btn-floating btn-large red lighten-1" 
		(click)="viewPart(1)"
		*ngIf="action == 2 || action == 3">
	  <i class="large material-icons">format_list_bulleted</i>
	</a>
</div>