<section class="vr-dashboard">
	<!-- structure popup -->
	<!-- <div class='header'>
  <div class='informations'>
    <h4 class='nompropriete'>Villa Del Rey</h4>
    <h5>30/04/2019</h5>
  </div><a href="vr1.html" class='rigg'><i class='fas fa-chevron-right'></i></a>
</div>
<div class='pct'>
  <ul class='infos'>
    <li class='superficie'>Superficie: <strong>200 Ha</strong></li>
    <li class='titre'>Titres de propriété : <strong>ACD</strong></li>
    <li class='terrain'>Terrain viabilisé : <strong>Oui</strong></li>
    <li class='typemaison'>Type de maison : <strong>Villa</strong></li>
    <li class='autresinfos'>Autres informations: <strong>
        <p>Lorem ipsum daldssfs SfqfqsFqsfqsfqsfqsfqsf</p>
      </strong></li>
  </ul>
</div> -->

	<main>
		<app-nav style="position: absolute;"></app-nav>
		<div id="mapid"></div>
		<div id="credits2" style="z-index: 999;">2019 | WeDev Agri - Tous droits réservés</div>
		<!-- popup pour l'ajout de proprietes -->
		<div id="modal1" class="modal">
			<div class="modal-content">
				<h4>Modal Header</h4>
				<p>A bunch of text</p>
			</div>
			<div class="modal-footer">
				<a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
			</div>
		</div>
	</main>
	<!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
	<!-- degrade. ne pas supprimer svp -->
	<svg style="width:0;height:0;position:absolute;" aria-hidden="true" focusable="false">
		<linearGradient id="my-cool-gradient" x2="1" y2="1">
			<stop offset="0%" stop-color="#fc7f45" />
			<stop offset="100%" stop-color="#c45b6c" />
		</linearGradient>
	</svg>
</section>